name: Project Automation

on:
  pull_request:
    types: [opened, closed]

jobs:
  move_cards:
    runs-on: ubuntu-latest
    steps:
      # Крок 1: Створюємо картку PR і ставимо у Review
      - name: Create or move project card to Review
        if: github.event.action == 'opened'
        uses: peter-evans/create-or-update-project-card@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          project-url: 'https://github.com/LeksG/itpm-lab/projects/3'
          column-name: 'Review'
          card-content-type: 'pull_request'
          content-id: ${{ github.event.pull_request.node_id }}

      # Крок 2: Переміщаємо картку PR у Done після merge
      - name: Move project card to Done
        if: github.event.action == 'closed' && github.event.pull_request.merged == true
        uses: peter-evans/create-or-update-project-card@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          project-url: 'https://github.com/LeksG/itpm-lab/projects/3'
          column-name: 'Done'
          card-content-type: 'pull_request'
          content-id: ${{ github.event.pull_request.node_id }}
